.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container>h1 {
  color: rgb(0, 162, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label,
input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: green;
}